.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  min-height: 3.75rem;
}

.navbar__top {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__top--left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.navbar__top--left div {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50vw;
}

.navbar__top--left div img {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  z-index: 2;
}

.navbar__top--left .navbar__top--search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 2.5rem;
  width: 22.75rem;
  padding: 0.375rem 0;
  border-radius: 50wv;
  background-color: var(--white);
  overflow: hidden;
}

.navbar__top--left .navbar__top--search input {
  width: 100%;
  padding-right: 1rem;
  border: 0;
  outline: 0;
}

.navbar__top--left .navbar__top--search img {
  margin-left: 0.75rem;
}

.navbar__top--right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  border-radius: 50vw;
  cursor: pointer;
  flex-shrink: 0;
}

.navbar__top--right div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50vw;
}

.navbar__top--right div img {
  position: relative;
  z-index: 2;
}
